<!DOCTYPE html>
<html><head>
    <title>Green Clique</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" media="none" onload="if(media!='all')media='all'">
<!-- link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous" media="none" onload="if(media!='all')media='all'"-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
<link rel="stylesheet" href="/styles/Homepage.css"><!-- media="none" onload="if(media!='all')media='all'"-->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
    <body onload="parallax()">
	<div class="containerfluid">
        <div class="content">
            <div class="parallax-bg">

                <h1>Green-Clique</h1>
<div>            <p style="color: white; font-family: 'Oswald', sans-serif;" align="center">Witness the power of people!<br>When everyone comes together, Miracles are born!


</div>
<p style="color: white; font-family: 'Oswald', sans-serif;" align="center">
<a href="/blog" class="btn btn-intro"><i class="fa fa-book" aria-hidden="true"></i>Blog Feed</a>
<a href="/blog/newpost" class="btn btn-intro"><i class="fa fa-pencil" aria-hidden="true"></i>Create new Blog</a>
<a href="/about2" class="btn btn-intro"><i class="fa fa-pencil" aria-hidden="true"></i>Environment Savers</a>

</p>

</div>
            </div>

</div>
        <div class="containerfluid">
<div class="centry">
            <div class="dell">

<div class="row">
<div class="col-lg-4"><div  class="lala">
            <i class="fa fa-globe fa-5x " aria-hidden="true" alt="Connect Image" style="color: white"></i><h3>Connect</h3></div><p>Connect with the people around you and come together in community based events and further your cause </p></div>
            <div class="col-lg-4"><div  class="lala">
<i class="fa fa-heart fa-5x" aria-hidden="true" alt="Request Image" style="color: white"></i><h3>Request</h3></div><p>Need Emergency relief from a disaster? Perhaps Blood donation? Or even an Organ donator? Use our emergency feature to find your needs</p></div>
<div class="col-lg-4"><div  class="lala">
<i class="fa fa-gift fa-5x" aria-hidden="true" alt="Donate Image" style="color: white"></i><h3>Donate</h3></div><p>Looking to donate to charity? Perhaps an NGO association? Use our donate feature to directly fund the cause you support</p></div>
 </div>

<div class="row">
<div class="mama ">

            <br><div class="col-lg-4 col-lg-offset-2" id="CA"><div  class="lala"><i class="fa fa-hand-peace-o fa-5x" aria-hidden="true" alt="Advertise Image" style="color: white"></i>
<h3>Create and Advertise</h3></div><p>Looking to advertise or start a new community event? A good place to start is where all good people gather. Just start here</p></div>

            </div><div class="col-lg-4" id="GoGreen"><div class="kaka "><div  class="lala"><i class="fa fa-level-up fa-5x" aria-hidden="true" alt="GoGreen Image Image" style="color: white"></i><h3>Go Green</h3></div><p>Go Green by adopting Green Computing methods, Save your electricity bill and the world at the same time. We'll show you how </p></div></div>
</div>
</div>

</div>
</div>
</div>
</div>
<div class="containerfluid">
        <footer><div class="Copyright-footer"><small>&copy;Green-Clique 2017_NEU</small></div></footer>
</div>
        </div>
</div>
<script async src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript">
        
        function parallax() {
            
            var documentEl = $(document),
                parallaxBg = $('div.parallax-bg');
            
            documentEl.on('scroll', function() {
                var currScrollPos = documentEl.scrollTop();
                parallaxBg.css('background-position', '0 ' + -currScrollPos/2 + 'px');
            });
            
            
            
        };
    </script>
<script src="https://code.jquery.com/jquery-2.2.2.min.js" async></script>
<!-- Latest compiled and minified JavaScript -->
<script async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<a href = "/about"> About US </a>
</body></html>