<html>
<head>
    <title>Green Clique</title>
    <link rel="stylesheet" type="text/css" href="styles/Login2.css">
</head>
    <body>
        <header class="Container group"><h1 class="Logo"><a href="/">Green Clique</a></h1></header>
        <section class="ButtonC Container">
	    <p>Hi! {{name}}</p>
            <p id="Subhead">Witness the power of people!<br>When everyone comes together, Miracles are born!</p>
            <a href="/blog/newpost" class="btn btn-intro">New Post</a>
            <a href="/blog" class="btn btn-intro">Blog</a>
        </section>
        <section class="gridOuter">
            <div class="grid">
            <section class="Row1"><img src="/images/Conect.jpg" alt="Connect Image" class="Gridimages"><h3>Connect</h3><p>Connect with the people around you and come together in community based events and further your cause </p></section>
            <section class="Row1"><img src="/images/Help.jpg" alt="Connect Image" class="Gridimages"><h3>Request</h3><p>Need Emergency relief from a disaster? Perhaps Blood donation? Or even an Organ donator? Use our emergency feature to find your needs</p></section>
            <section class="Row1"><img src="/images/Donate.jpg" alt="Connect Image" class="Gridimages"><h3>Donate</h3><p>Looking to donate to charity? Perhaps an NGO association? Use our donate feature to directly fund the cause you support</p></section>
            <br><section class="Row1" id="CA"><img src="/images/Campaign.jpg" alt="Connect Image" class="Gridimages"><h3>Create and Advertise</h3><p>Looking to advertise or start a new community event? Start here</p></section>
            <section class="Row1" id="GoGreen"><img src="/images/Green.jpg" alt="Connect Image" class="Gridimages"><h3>Go Green</h3><p>Go Green by adopting Green Computing methods, Save your electricity bill and the world at the same time. We'll show you how </p></section>
        </div>
        </section>
        <footer class="Container group Copyright-footer"><small>&copy;Green-Clique 2016</small></footer>
    </body>
</html>